<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text"${title}">Document</title>
  </head>
  <body>

    <h1 th:text="${title}">Hello World</h1>
    <p>My First Hello World</p>

    <p th:text="${user.name}"></p>
    <p th:text="${user.lastname}"></p>
    <li
    th:if="${user.email != null}"
    th:text="${user.email}"></li>


    <li th:if="${user.email == null}" th:text="${'No tiene email'}"></li>
  </body>
</html>
